<% @page.errors.full_messages.each do |message| %>
  <span class="error"><%= message %>.</span>
<% end %>

<%= form_for @page do |form| %>
  <fieldset>
    <ol>
      <li>
        <%= form.label :title, :class => 'required' %>
        <%= form.text_field :title %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= form.submit %>
    <%= link_to 'Cancel', @page.new_record? ? pages_path : @page %>
  </fieldset>
<% end %>
