<% @page.errors.full_messages.each do |message| %>
  <p class="error"><%= message %>.</p>
<% end %>

<%= form_for @page do |form| %>
  <fieldset>
    <ol>
      <li>
        <h1>
          <%= form.label :title, :class => 'required' %>
          <%= form.text_field :title %>
        </h1>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= form.submit %>
    <%= link_to 'Cancel', @page.new_record? ? pages_path : @page %>
  </fieldset>
<% end %>
