<div class="element">
  <%= link_to 'Edit', edit_gallery_path(@page) %>
  <%= link_to 'Del', @page, :method => :delete, :confirm => 'Delete?' %>
  <h1><%= @page.title %></h1>
</div>

<div class="gallery" id="elements">
  <% @page.elements.ordered.each do |element| %>
    <%= link_to image_tag(element.image.url(:thumb)), edit_gallery_image_path(@page, element) if element.image.exists? %>
  <% end %>
</div>

<div class="element">
  <%= link_to 'Pic', new_gallery_image_path(@page) %>
</div>
