<%= form_for [@page, @element],
  :html => { :multipart => true },
  :url => @element.new_record? ? page_images_path(@page) : nil do |form| %>
  <fieldset>
    <ol>
      <li>
        <%= label :element, :text %>
        <%= text_field :element, :text %>
      </li>
      <% if @element.new_record? %>
        <li>
          <%= label :element, :image %>
          <%= file_field :element, :image %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset>
    <%= form.submit %>
    <%= link_to 'Cancel', manage_page_path(@page) %>
  </fieldset>
<% end %>
