<!DOCTYPE html>
<html>
<head>
  <title>Oyo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div>
    <img src="/images/header.png" />
  </div>
</div>

<div id="container">
  <div id="nav">
    <ol>
      <% Page.all.each do |page| %>
        <li><%= link_to page.title, page %></li>
      <% end %>
      <li><%= link_to 'New', new_page_path %></li>
    </ol>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
